<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
     <script src="functions.js"></script>
    <script src="Home.js"></script>
   
    <link rel="stylesheet" href="style.css" />
    <title>ForAllKart</title>
  </head>

  <body>
    <header>
      <div class="navigation">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
          <!-- Brand -->
          <h2><i style="color: yellow;">ForAllKart</i></h2>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a class="nav-link" href="Home.html"
                ><i class="fa fa-home"></i
              ></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="About.html">About-Us</a>
            </li>

            <li class="nav-item mx-2">
              <a class="nav-link" href="Contact.html">Contact-Us</a>
            </li>
          </ul>

          <div class="mx-3" style="width: 500px; margin-left: 10px;">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search by product name"
            />
          </div>
          <div class="mx-3" style="margin-left: 10px;">
            <button class="btn btn-success">Search</button>
          </div>
          <span class="mx-2" style="margin-left: 10px;">
            <a href="Seller.html" class="btn btn-danger" id="cartBtn">Seller</a>
          </span>

          <span>
            <a href="cart.html" class="btn btn-warning" id="cartBtn">🛒 Cart</a>
          </span>
        </nav>
      </div>
    </header>

    <div>
      <img src="images/home.jpg " alt="image" style="width: 1365px;" />
    </div>

    <div id="mycarousel">
      <div id="demo" class="carousel slide w-100" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
          <li data-target="#demo" data-slide-to="5"></li>
          <li data-target="#demo" data-slide-to="6"></li>
          <li data-target="#demo" data-slide-to="7"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="images/img3home.jpg"
              alt="phone1"
              class="d-block w-100"
              height="480px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/img2home.jpg"
              alt="phone2"
              class="d-block w-100"
              height="480px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/img1home.jpg"
              alt="phone3"
              class="d-block w-100"
              height="480px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/img5home.jpg"
              alt="phone4"
              class="d-block w-100"
              height="480px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/img4home.jpg"
              alt="phone5"
              class="d-block w-100"
              height="480px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/img7home.jpg"
              alt="phone6"
              class="d-block w-100"
              height="480px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/img6home.jpg"
              alt="phone7"
              class="d-block w-100"
              height="480px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/img8home.jpg"
              alt="phone8"
              class="d-block w-100"
              height="480px"
            />
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-center my-3 mx-2">
      <div
        class="div w-75 shadow-lg rounded p-4 "
        style="background-color: rgba(210, 215, 211, 1);"
        id="product-list"
      ></div>

    </div>
    <script>
      $("#mycarousel").carousel({
    interval: 3000,
  });
    </script>
  </body>
</html>
